Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cachefile
*.cache
*.ilk
*.log
*.opensdf
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.*~
*.csproj.Debug.cachefile
ipch/carsimulate-d645e13d/carsimulate-b36fb8a6.ipch